<form data-th-attr="action=${actionUrl}" method="POST">
    <input name="create" type="hidden" value="note" />
    <div class="input_field">
        <label for="create">Title</label>
        <input name="title" type="text"  autofocus="true" autocomplete="off"/>
    </div>
    <div class="input_field">
        <label for="create">Tags</label>
            <input name="tags" type="text" class="js-tagganator-me" />
    </div>
    <div class="input_field">
        <label for="create">Body</label>
        <textarea name="preface" ></textarea>
    </div>
        <input type="submit" value="save" />
</form>             
