* {
	font-family: "menlo", monospace;
}


::-moz-selection {
    background: hotpink;
    text-shadow: none;
}

::selection {
    background: hotpink;
    text-shadow: none;
}


body {
	background: #eee;
	color: #111;
	position: relative;
	margin: 0;
}

h1,h2,h3,h4,h5,h6,li,dt,dd,p,a,div {
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	line-height: 1.8;
}

dl,dt,dd {
	margin:0;
}



.audible {
	position: absolute;
	left: -100000px;
}

.layout-33-66 {
	width: 100%;
	min-height: 50px;
	background: skyblue;	
}

.c33 {
	float: left;
	width:33%;
	min-height: 50px;
	background-color: yellow;
}

.c66 {
	float:left;
	width: 66%;
	min-height: 50px;
	background-color: 
}

.note {
	display: flex;
	margin: 10px;
}

.note header {
	order: 1;
	flex: 1 1 22%;
}

.note aside {
	order: 2;
	flex: 1 1 11%;
}

.note .main {
	flex: 1 1 66%;
	order: 3;
	padding: 0 10px;
}

.note dd {
	padding:0 3px;
	background: skyblue;
	border-bottom: 1px dashed #eee;	
}

.tags a{
	color:white;
}

.tags a:visited {
	color: rgba(250,250,250,0.7);
}

.note dd:last-child {
	border: 0 none;
}
#knowtly-search {
	padding: 10px;	
}

#knowtly-search input[type=submit]{
	display: none;
}

#knowtly-search input[type="search"] {
	box-sizing: border-box;
	width: 100%;
	border: 0px none;
	background: #333;
	color: #eee;
	padding: 10px;
}


#knowtly-commandline {
	box-sizing: border-box;
	width: 100%;
	border: 0px none;
	background: #333;
	color: #eee;
	padding: 10px;
	overflow: hidden;
	
	
}

#knowtly-commandline input,
#knowtly-commandline textarea {
	width: auto;
	margin: 0;
	background: transparent;
	padding: 0;
	float: left;
	line-height: 1.8;
	border: 0 none;
	color: #eee;
	font-family: inherit;
	font-size: inherit;
}	


#knowtly-commandline input[type="submit"]{
	display: none;
}

#knowtly-commandline .editor input,
#knowtly-commandline .editor textarea{
    display:block;
	width: 100%;
}

.validCommands {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
		
}

.validCommands li {
	padding: 0 5px;
	float: left;
	background: lightgray;
	color: #111;
	margin: 0 5px 0 0;
}

